# systemd service unit for pgmoneta
#
# - Adjust the user running the service in User
# - Adjust the path in ExecStart
#
[Unit]
Description=High-performance connection pool for PostgreSQL
Documentation=man:pgmoneta(1)
Documentation=https://pgmoneta.github.io/
After=network.target

[Service]
Type=exec
User=pgmoneta
ExecStart=/usr/bin/pgmoneta
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
#LimitNOFILE=1024

[Install]
WantedBy=multi-user.target
